* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
}

/* começo da header*/

nav {
  max-width: 1200px;
  margin: auto;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  font-family: 'Gilroy';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.50rem;
  color: #161C2D;
  text-decoration: none;
}

.link a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #161C2D;
  transition: all 0.3s ease;
}

.link a:hover::after{
  width: 70%;
}

#logo-txt {
  color: #161C2D;
  font-family: 'rubik';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.133px;
  height: 28px;
  width: 154px;
  -webkit-user-select: none;   
}

#botão-buy {
  cursor: pointer;
  width: 247px;
  height: 50px;
  background: #473BF0;
  border-radius: 8px;
  text-align: center;
  font-family: 'Gilroy' bold;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
  appearance: none;
  border-style: none;
  transition: all 0.3s ease;
}

#botão-buy a {
  text-decoration: none;
  color: #FFF;
}

#botão-buy:hover {
  background-color: #2546b3;
}

/* fim da header*/

/* começo do home*/

#home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  height: 973px;

}

#home img {
  width: 356px;
  height: 301px;
  display: block;
  margin: auto;
  margin-top: 124px;
  margin-bottom: 79px;
}

#text-home {
  display: flex;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  }

#text-home h3 {
  color: #F64B4B;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  padding-bottom: 1.625rem;
}

#text-home h1 {
  width: 773px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  padding-bottom: 1.5rem;
}

#text-home h2 {
  width: 636px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.2px;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 2rem;
}

#text-home button {
    cursor: pointer;
    width: 147px;
    height: 50px;
    background: #473BF0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gilroy' bold;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    appearance: none;
    border-style: none;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 1.5rem;
  }

  #text-home button a {
    text-decoration: none;
    color: #FFF;
  }
  
  #text-home button:hover {
    background-color: #2546b3;
  }

#Watch {
  color: #161C2D;
  font-family: 'Gilroy';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.50rem;
}

#Watch::after  {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  bottom: 0;
  background-color: #161C2D;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

#Watch:hover::after{
  width: 100%;
}

/*fim do home*/

/* começo do content-01 */

#content-01 {
  background-color: #F4F7FA;
  height: 700px;
  display: flex;
}

#cara-correndo {
  display: block;
  width: 600px;
  height: 100%;
}

#content-right {
  display: flex;
  align-items: center;
  padding-left: 10rem;
  width: 1937px;
  height: 700px;
}

#arguments-one {
  gap: 16px;
}

#arguments-one h2 {
  align-items: center;
  justify-content: center;
  width: 429px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; 
  letter-spacing: -1.8px;
  padding-bottom: 20px;
}

#arguments-one p {
  align-items: center;
  justify-content: center;
  width: 404px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: -0.2px;

}

#arguments-listen {
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-left: 65px;
  margin-top: 50px;
}

#earbuds {
  width: 296px;
  height: 134px;
  display: flex;

}

.box-buds {
  height: 53px;
  width: 55px;
  position: relative;
}

#img-buds {
  width: 42px;
  height: 40px;
}

#img-Oval-purple {
  width: 44px;
  height: 40px;
  opacity: 0.3;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}


#txt-earbuds {
  width: 227px;
  height: 134px;
  padding-left: 14px;
}

#Buds {
  font-family: Gilroy;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 152.381% */
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

#bass {
  width: 293px;
  height: 134px;
  display: flex;
  padding-left: 33px;
}

.box-bass {
  height: 49px;
  width: 48px;
  position: relative;
}

#img-sound-wave {
  width: 44px;
  height: 40px;
}

#img-Oval-red{
  width: 35px;
  height: 35px;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  right: 0;
}

#txt-bass {
  width: 227px;
  height: 134px;
  padding-left: 18px;
}

#power-buds {
  color: #161C2D;
  font-family: Gilroy;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: -0.5px;
}

#unique-blocks {
  color: #161C2D;
  font-family: Gilroy;
  font-size: 1.06rem;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; 
  letter-spacing: -0.2px;
}
/* fim do content-01 */

/* começo do content-02 */
#content-02 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 771px;
  background-color: #473BF0;
}

#content-02-allleft {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#content-02-left {
  padding-left: 21.25%;
}

#happy-man {
  display: absolute;
  height: 771px;
  right: 0;
}

#content-02-head {
  font-family: 'gilroy';
  color: #FFF;
  font-style: normal;
}

#content-02-head h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px; 
  letter-spacing: -1.8px;
  padding-bottom: 10px;
}

#content-02-head h3 {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: -0.2px;
  opacity: 0.65;
}

#content-02-coment {
  display: flex;
  align-items: center;
  padding-top: 55px;
}

#content-02-coment img {
  width: 110px;
  height: 110px;
  padding-right: 22px
}

#content-02-coment h2{
  color: #FFF;
  font-family: 'Rubik';
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: -0.117px;
  padding-bottom: 17px;
}

#content-02-left p {
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  opacity: 0.65;
  padding-left: 110px;
}

/* fim do content-02 */