* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
}

/* começo da header*/

header {
  display: flex;
  align-items: center;
  margin: 25px;
  margin-top: 16px;
  margin-bottom: 0;
  justify-content: space-between;
}

#logo-txt {
  color: #161C2D;
  font-family: 'rubik';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.133px;
  height: 28px;
  width: 154px;
}

.menu-header {
  display: flex;
  color: #161C2D;
  text-align: center;
  justify-content: center;
  font-family: 'Gilroy';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  gap: 45px;
  letter-spacing: -0.1px;
  height: 26px;
  width: 333px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 422px;
  padding-right: 372px;
}

#botão-buy {
  width: 247px;
  height: 50px;
  background: #473BF0;
  border-radius: 8px;
  color: #FFF;
  text-align: center;
  font-family: 'Gilroy' bold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
  appearance: none;
  border-style: none;
}

/* fim da header*/

/* começo do content-01*/

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;


}

#airpod-image {
  width: 356px;
  height: 301px;
  display: block;
  margin: auto;
  margin-top: 124px;
  margin-bottom: 79px;
}

#text-hero {
  display: flex;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  }

#Non-stop {
  color: #F64B4B;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  padding-bottom: 26px;
}

#sound {
  width: 773px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  padding-bottom: 29px;
}

#with-lots {
  width: 636px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.2px;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 35px;
}

#botão-buy-02 {
  width: 247px;
  height: 50px;
  background: #473BF0;
  border-radius: 8px;
  color: #FFF;
  text-align: center;
  font-family: 'Gilroy' bold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  appearance: none;
  border-style: none;
  margin-bottom: 27px;
}

#botão-txt01 {
  width: 254px;
}

#Watch {
  color: #161C2D;
  font-family: 'Gilroy';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  margin-bottom: 152px;
}
/*fim do content-01/hero*/

/* começo do content-01 */

#content-01 {
  background-color: #F4F7FA;
  height: 700px;
  display: flex;
}

#cara-correndo {
  display: block;
  width: 600px;
  height: 100%;
}

#content-right {
  width: 622px;
  height: 444px;
}

#Listen {
  width: 429px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; 
  letter-spacing: -1.8px;
  margin-top: 164px;
  margin-left: 125px;
  margin-right: 100%;
  margin-bottom: 20px;
}

#we-share {
  width: 404px;
  color: #161C2D;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: -0.2px;
  margin-left: 125px;
  margin-bottom: 110px;
  margin-right: 100%;
}

#arguments-listen {
  display: flex;
  padding-left: 125px;
}

#earbuds {
  width: 296px;
  height: 134px;
  display: flex;

}

#img-buds {
  width: 42px;
  height: 40px;
}

#img-Oval-purple {
  width: 44px;
  height: 40px;
  opacity: 0.3;
  display: flex;
  position: absolute;
}


#txt-earbuds {
  width: 227px;
  height: 134px;
  padding-left: 14px;
}

#Buds {
  font-family: Gilroy;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 152.381% */
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

#bass {
  width: 293px;
  height: 134px;
  display: flex;
  padding-left: 33px;
}

#img-sound-wave {
  width: 44px;
  height: 40px;
}

#img-Oval-red{
  width: 35px;
  height: 35px;
  opacity: 0.3;
  position: absolute;
}

#txt-bass {
  width: 227px;
  height: 134px;
  padding-left: 18px;
}

#power-buds {
  color: #161C2D;
  font-family: Gilroy;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: -0.5px;
}

#unique-blocks {
  color: #161C2D;
  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  ine-height: 29px; 
  letter-spacing: -0.2px;
}
/* fim do content-01 */